.input {
  padding: 5px 10px;
  font-size: 16px;

  outline: none;
  border: none;

  color: var(--text-color-input);
  background-color: var(--bg-color-input);
}

.input::placeholder {
  color: #fff;
}
