.fieldset {
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.fieldset:last-child {
  margin: 0;
}

.legend {
  padding: 0;
}

.label {
  width: 185px;
  display: flex;
  flex-direction: column;
}

.labelText {
  cursor: pointer;
  margin-bottom: 10px;
}
